body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #3f3e3e;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(230, 21, 21);
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: rgb(19, 215, 230);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

footer {
    background-color: #947719;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
